<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/update.css">
</head>
<body>

  <div id="back">

    <div id="card">

      <h3>Update</h3>

      <form action=<%= '/update/'+found._id%> method="POST">
        <textarea name="post" placeholder="Write here..."><%= found.post %></textarea>
        <input type="submit" value="Update">
      </form>

    </div>

  </div>
  
</body>
</html>